{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Contact{% endblock %}
{% block search %}{% endblock %}

{% block content %}
<div class="main">

<h2>Contact information</h2>

<div class="text">
SSBD was developed by the research term at Laboratory for Developmental Dynamics, RIKEN QBiC, in the life scicene database integration project entitled "Integration of databases for systems science of biological dynamics (Chief: Prof. Shunichi Onami)" supported by <a href="http://biosciencedbc.jp/en/" target="_blank" class="exlink">National Bioscience Database Center (NBDC)</a> of <a href="http://www.jst.go.jp/EN/index.html" target="_blank" class="exlink">Japan Science and Technology Agency (JST)</a>. If you have any further question or comments, and information about published quantitative biological data in any papers, please contact us below: 

<h3>Shuichi Onami</h3>
Laboratory for Developmental Dynamics<br>
RIKEN Quantitative Biology Center<br>
2-2-3 Minatojima-minamimachi, Chuo-ku, Kobe 650-0047, Japan<br>
Phone: +81-78-306-0111 ext. 5626<br>
Fax: +81-78-306-3442<br>
Office: Building D, E403<br>
</div>
</div>
{% endblock %}
