{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Copyright notice{% endblock %}
{% block search %}{% endblock %}

{% block content %}
<div class="main">

<h2>Copyright notice</h2>

<div class="text">

<p>The <b>Systems Science of Biological Dynamics (SSBD)</b> database, with its various tables, are copyrighted by RIKEN and JST National Bioscience Database Center (NBDC) unless explicitly specified otherwise.</p>

<p>Users of this database may reproduce data required for their own scientific, educational, academic and non-commercial use. However, users of the database are required to acknowledge or reference this web site in their publications.</p>

<p>Beyond such usage, users of the present database shall not reproduce, distribute or publicly communicate material parts of the present database without the prior written consent of RIKEN.</p>

<p>The copyright of each individual dataset including images belongs to the authors of the dataset. The details of the copyright and license of use are given in the BDML files within the database. Please refer to each individual dataset for details.</p>

<p>This project is funded by the <a href="http://biosciencedbc.jp/en/" class="exlink" target="_blank">National Bioscience Database Center (NBDC)</a> of the <a href="http://www.jst.go.jp/EN/index.html" class="exlink" target="_blank">Japan Science and Technology Agency (JST)</a>.</p>

<p>For more details of conditions of use, please consult <a href="http://www.riken.jp/en/terms/" target="_blank" class="exlink">this page </a>.</p>

</div>
</div>
{% endblock %}
