{% extends "base.html" %}
{% block title %}News{% endblock %}
{% block bar %}
  <div class="bar">
   <ul>
    <li class="browse_text">Browse through categories:</li>
    <li><a href="/">Home</a></li>
    <li><a href="/resources/">Resources</a></li>
    <li><a href="/manuals/">Manuals</a></li>
    <li><a href="/publications/">Publications</a></li>
    <li><a href="/news/">News</a></li>
    <li><a href="/software/">Software</a></li>
    <li><a href="/search/">Advanced search</a></li>
   </ul>
  </div>
{% endblock %}

{% block search %}
{% endblock %}

{% block content %}
<div class="main">

<h2>History of {{ meta_id }}</h2>
<div class="text">
<ul id="nav">
  {% for bdml in bdml_list %}
  <li><a href="/search/{{ bdml.bdmlUUID }}/">BDML ID: {{ bdml.bdmlUUID }}</a>, Schema: {{ bdml.schema_ver }}, Status: {{ bdml.status }}</li>
  {% endfor %}
</ul>
</div>

</div>
{% endblock %}
