{% extends "base.html" %}
{% block title %}Publications{% endblock %}
{% block bar %}
  <div class="bar">
   <ul>
    <li class="browse_text">Browse through categories:</li>
    <li><a href="/">Home</a></li>
    <li><a href="/resources/">Resources</a></li>
    <li><a href="/manuals/">Manuals</a></li>
    <li class="active">Publications</li>
    <li><a href="/news/">News</a></li>
    <li><a href="/software/">Software</a></li>
    <li><a href="/search/">Advanced search</a></li>
   </ul>
  </div>
{% endblock %}

{% block search %}
{% endblock %}

{% block content %}
<div class="main">

<h2>Publications</h2>

<div class="text">
<ul>
<li><B>Koji Kyoda, Yukako Tohsato, Kenneth H. L. Ho, Shuichi Onami (2015)</B><BR>
Biological Dynamics Markup Language (BDML): an open format for representing quantitative biological dynamics data. <I>Bioinformatics</I> 
31(7): 1044-1052 (<a href="http://bioinformatics.oxfordjournals.org/content/31/7/1044" class="exlink">online link</a>).</li>
</li>
</div>

</div>
{% endblock %}
